<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpVerification</servlet-name>
        <servlet-class>OtpVerification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpVerification</servlet-name>
        <url-pattern>/OtpVerification</url-pattern>
    </servlet-mapping>
</web-app>
