<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>authentication.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationPage</servlet-name>
        <servlet-class>authentication.RegistrationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationWork</servlet-name>
        <servlet-class>authentication.RegistrationWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>authentication.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>authentication.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWork</servlet-name>
        <servlet-class>authentication.LoginWork</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPage</servlet-name>
        <url-pattern>/RegistrationPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationWork</servlet-name>
        <url-pattern>/RegistrationWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWork</servlet-name>
        <url-pattern>/LoginWork</url-pattern>
    </servlet-mapping>
</web-app>
